# Override connection strings via environment variables
# ASP.NET Core reads these automatically when prefixed with ConnectionStrings__
ConnectionStrings__DefaultConnection=Host=localhost;Database={{projectName}};Username=postgres;Password=postgres
{{#if (eq decision_caching "redis")}}ConnectionStrings__Redis=localhost:6379
{{/if}}{{#if (eq decision_streaming "kafka")}}Kafka__Brokers=localhost:9092
{{/if}}{{#if (eq decision_search "elasticsearch")}}Elasticsearch__Url=http://localhost:9200
{{/if}}{{#if (eq decision_fileStorage "s3")}}AWS__S3__BucketName=my-bucket
AWS__Region=us-east-1
{{/if}}{{#if (eq decision_fileStorage "azure-blob")}}Azure__Storage__ConnectionString=your-connection-string
Azure__Storage__Container=my-container
{{/if}}
